<div class="card h-100 shadow">
  @if (!product.photos || product.photos.length <= 1) {
    <!-- Image -->
    <img class="card-img-top" alt="" [src]="product.mainPhoto" [routerLink]="['/products', product.id]" />
  } @else {
    <!-- Carrusel -->
    <ngb-carousel class="text-center">
      @for (photo of product.photos; track photo.id) {
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="photo.url" alt="Random first slide" />
          </div>
          <div class="carousel-caption mb-0">
            @if (product.mine)
            {
              <label class="btn btn-success m-lg-1" (click)="mainPhoto(product.id, photo.id!)">
                <fa-icon class="m-lg-1" [icon]="icons.faStar"></fa-icon>
              </label>

              <label class="btn btn-danger m-lg-1" (click)="deletePhoto(photo.id!)">
                <fa-icon class="m-lg-1" [icon]="icons.faTrash"></fa-icon>
              </label>
            }
          </div>
        </ng-template>
      }
    </ngb-carousel>
  }

  <!-- Card Body -->
  <div class="card-body">
    <h5 class="card-title" [routerLink]="['/products', product.id]">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <div class="row text-muted">
      <div class="col">{{ product.category.name }}</div>
      <div class="col-auto">{{ product.price | currency:'EUR' }} €</div>
    </div>
  </div>

  <!-- Card footer -->
  <div class="card-footer bg-transparent text-muted">
    <div class="row">

      <div class="col-auto avatar ps-1 pe-1">
        <img class="rounded-circle" src="{{product.owner.photo}}" [routerLink]="['/profile', this.product.owner.id]" width="40px" height="40px" alt="" />
      </div>

      <div class="col">
        <div class="name" [routerLink]="['/profile', this.product.owner.id]">{{ product.owner.name }}</div>
        <div>
          <small class="text-muted">{{ product.datePublished |  date: 'HH:mm dd/MM/yyyy' }}</small>
        </div>
      </div>

      @if (product.mine && product.status === 1) {
      <div class="col-auto">
        <button class="btn btn-danger btn-sm float-end m-lg-1" (click)="deleteProduct()">
          <fa-icon [icon]="icons.faTrash"></fa-icon>
        </button>

        <button class="btn btn-warning btn-sm float-end m-lg-1" [routerLink]="['/products', this.product.id, 'edit']">
          <fa-icon [icon]="icons.faPencil"></fa-icon>
        </button>
      </div>
      } @else { <!-- (I understand that the user can bookmark other's users products, it makes no sense to mark own products.)-->
        @if (!product.bookmarked && product.status === 1) {
          <div class="col-auto">
            <button class="btn btn-success btn-sm float-end m-lg-1" (click)="bookmark()">
              <fa-icon [icon]="icons.faBookmark"></fa-icon>
            </button>
          </div>
        } @else if (product.bookmarked && product.status === 1){
          <div class="col-auto">
            <button class="btn btn-danger btn-sm float-end m-lg-1" (click)="unbookmark()">
              <fa-icon [icon]="icons.faBookmark"></fa-icon>
            </button>
          </div>
        }
      }

      <div class="col-auto text-muted text-right">
        <div class="col-auto text-right">
          <small>{{ product.numVisits }} <fa-icon [icon]="icons.faEye"></fa-icon></small>
        </div>
        <div><small>{{ product.distance | number: '1.2-2'}}km</small></div>
      </div>

    </div>
  </div>
</div>
