<form class="mt-4" role="form"  (ngSubmit)="login()" [formGroup]="loginForm">
  <legend>Welcome to SanviPop!</legend>

  <div class="mb-3">
    <label for="email">Email:</label>
    <input type="email" class="form-control" formControlName="email" name="email" id="email" placeholder="Email" required
    [ngClass]="validClasses(email, 'is-valid', 'is-invalid')"/>
    @if(email.errors?.['required']) {
      <div class="invalid-feedback">El email es obligatorio</div>
    }
  </div>
  <div class="mb-3">
    <label for="password">Password:</label>
    <input type="password" class="form-control" formControlName="password" name="password" id="password" placeholder="Password" required
    [ngClass]="validClasses(password, 'is-valid', 'is-invalid')"/>
    @if(password.errors?.['required']) {
      <div class="invalid-feedback">La contraseña es obligatoria</div>
    }
  </div>
  <p class="text-danger"></p>
  <button type="submit" class="btn btn-success">Login</button>
  <a class="btn btn-primary m-lg-1" (click)="goRegister()">Register</a>
  <div class="mb-4">
    <div googleLogin class="btn"></div>

    <button
      fbLogin
      [scopes]="['email', 'public_profile']"
      class="btn btn-primary"
      (loginOk)="loggedFacebook($event)"
      (loginError)="showError($event)"
    >
      <fa-icon [icon]="iconFacebook"></fa-icon>
      Login con Facebook
    </button>
  </div>
</form>

